<header>
    <nav>
        <a href="/">My Shop</a>
        <ul>
            <li> <a href="/categories"> Search Categories</a></li>
            <li> <a href="/categories/new">Add Category</a></li>
            
        </ul>
    </nav>
</header>